name: Documentation

on:
  push:
    branches:
      - main  # or your default branch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Julia
        uses: julia-actions/setup-julia@v1
        with:
          version: '1.7'

      - name: Install dependencies
        run: julia --project=docs -e '
                import Pkg; Pkg.add("Documenter");
                using Pkg;
                Pkg.develop(PackageSpec(path=pwd()));
                Pkg.instantiate()'
      - name: Set environment variables
        run: echo "DOCUMENTER_KEY=${{ secrets.DOCUMENTER_KEY }}" >> $GITHUB_ENV

      - name: Build and deploy documentation
        run: julia --project=docs docs/make.jl
